<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
	<li class="k-state-active">
		<span class="panel-bar-label-no-wrap">Colors</span>
		
		<div role="region"> 
			<!-- <div class="config-option-format">
				<pv-color-picker colorkeyword="Background Color" ng-model="config.backgroundColor" config="config"></pv-color-picker>
			</div>	 -->
			<!-- <div class="config-option-format">
				<pv-color-picker colorkeyword="Trace Color" ng-model="config.traceColor" config="config"></pv-color-picker>
			</div> -->
		</div>
	</li>
</ul>